body{
 background-color: rgb(200,250,200)
}
table tr:first-child{
    background-color: rgb(100,250,250)
}
.atmesh-centerheader
{
    text-align: Center;
    background-image: url(https://image.shutterstock.com/image-photo/colorful-hot-air-balloons-flying-260nw-1033306540.jpg);
}
.atmeshdp
{
    border-radius: 50%;
}
#atmesh_about{
    background-color: yellow;
    height: "600px";
}
.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color:red;
}

.item2 {
  background-color:yellow;
}

.item3 {
  background-color:blue;
}
